.app {
  height: 100vh;
}

.sections {
  height: calc(100vh - 90px);
  width: 100%;
  margin-top: 90px;
  scroll-behavior: smooth;
  position: relative;
  background-color: aquamarine;
  scroll-snap-type: y mandatory;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }

  * {
    width: 100vw;
    height: calc(100vh - 90px);
    scroll-snap-align: start;
  }
}
